.InspectTab {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.InspectTab--list {
  padding: 8px 0;
  border-style: none;
  background-color: #fafafa;
  resize: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  flex: 1;
  overflow-y: auto;
}

.InspectTab--list-item {
  padding: 0 8px;
  color: #303F9F;
  font-weight: bold;
}

.InspectTab--list-item-current {
  background-color: #E0E0E0;
  color: #303F9F;
  font-weight: bold;
}

.InspectTab--list-item-label {
  color: #388E3C;
}

.InspectTab--list-item-instruction {
  padding-left: 32px;
}

