.Key {
  display: flex;
  flex: 1;
}

.Key--button {
  flex: 1;
  padding: 0;
  margin: 4px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
}

.Key--bold {
  font-weight: bold;
}

.Key--small-caps {
  font-variant: small-caps;
}

.Key--button-keyCode-shiftUp {
  color: #2E7D32;
}

.Key--button-keyCode-shiftDown {
  color: #EF6C00;
}

.Key--keyCode-enter {
  flex: 2;
}

.Key--label-main {
  line-height: 1.2rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.Key--label-top {
  height: 1em;
  line-height: 1em;
  font-size: 11px;
  color: #2E7D32;
}

.Key--label-bottom {
  height: 0.7rem;
  line-height: 0.7rem;
  font-size: 0.7rem;
  color: #EF6C00;
}

.Key--label-keyCode-div,
.Key--label-keyCode-mul,
.Key--label-keyCode-sub,
.Key--label-keyCode-add {
  font-size: 20px;
}

.Key small {
  font-size: 1rem;
}

.Key--color-shiftUp {
  color: white;
  background-color: #66BB6A;
}

.Key--color-shiftDown {
  color: white;
  background-color: #FFA726;
}

sup {
  vertical-align: super;
  font-size: small;
}