.Key {
    display: block;
    box-sizing: border-box;
    cursor: pointer;
    padding: 0;
    height: 32px;
    width: 48px;
    line-height: 1em;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
    margin-bottom: 2px;
}

.Key--bold {
    font-weight: bold;
}

.Key--keyCode-shiftUp {
    color: #2E7D32;
}

.Key--keyCode-shiftDown {
    color: #EF6C00;
}

.Key--keyCode-enter {
    width: 110px;
}

.Key--topLabel {
    height: 16px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1em;
    color: #2E7D32;
    text-align: center;
    margin-bottom: 2px;
}

.Key--bottomLabel {
    font-size: 10px;
    background-color: #E0E0E0;
    color: #EF6C00;
}

.Key--inverse-shiftUp {
    background-color: #2E7D32;
    color: #fff;
}

.Key--inverse-shiftDown {
  background-color: #EF6C00;
  color: #fff;
}