.Keyboard {
  margin: 4px;
  padding: 32px 16px 16px 16px;
  border-radius: 4px;
  background-color: lightblue;
  padding: 8px;
}

.Keyboard--row {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}