.ProgramPanel {
    display: none;
    flex-flow: column;
    border-radius: 4px;
    border: solid 1px gray;
    padding: 2px;
    box-sizing: border-box;
}

@media (min-width: 481px) {
    .ProgramPanel {
        display: flex;
        width: 375px;
        height: 680px;
    }
}