.ProgramTab {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.ProgramTab textarea {
    padding: 8px;
    border-style: none;
    background-color: #fafafa;
    resize: none;
    font-Family: 'Roboto', sans-serif;
    font-Size: 14px;
    flex: 1
}