.App {
  display: flex;
  margin: 32px 0 16px 0;
  justify-content: center;
}

.App--main {
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.75);
  padding: 2px;
  width: 320px;
}
